<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Test</title>
    <link  href="http://cdn.jsdelivr.net/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
           th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"
           rel="stylesheet" media="screen"
    />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.4.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"
    ></script>
    <link href="../static/spring-core.css"
          th:href="@{/spring-core.css}" rel="stylesheet" media="screen" />
</head>
<body>
<div class="container">
    <h2>Site map</h2>
    <a th:href="${'/list'}" >View all languages</a><br>
    <a th:href="${'/new'}" >Add new language</a><br>
    <a th:href="${'/newparrequest'}" >Add new paradigm</a><br>
    <a th:href="${'/parlist'}" >View paradigms</a><br>
</div>
</body>
</html>